body{
    background-color: #F5AFAF;
    padding: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center}

.heading{
    color: #FCF8F8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
    margin: 50px;
    padding: 20px;
    text-decoration: underline;
    text-transform: capitalize;
    border-style:dashed;
    border-radius: 10px;
}

.subheading{
    text-decoration: underline;
    border-style:dashed;
    border-radius: 67px;
    color: #FBEFEF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 1px;
}

.profile-img{
    border-style:double;
    border-width:50px;
    opacity: 60%;
    border-color: #F9DFDF;
    border-radius: 25px;
}